@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.mirror {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.price {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #f16d7f;
}

.price::before {
  content: "$ ";
}

.products_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: #f16d7f;
  background-color: white;
  border: 1px solid #f16d7f;
  padding: 1em 0;
  width: 211px;
  margin-top: 50px;
}

.products_button:hover {
  color: white;
  background-color: #f16d7f;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  left: -10000vw;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1106px;
}

.header {
  position: relative;
  background: #222222;
  color: white;
}

.header_groupHandler {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header_group *:not(:last-child) {
  margin-right: 35px;
}

.header_cart_icon {
  position: relative;
}

.header_cart_icon::after {
  content: "2";
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  top: -6px;
  right: -6px;
  background: #f16d7f;
  padding: 0 0.3em;
  border-radius: 50%;
}

#header_menu_button {
  display: none;
}

#header_menu_button:checked ~ .header_menu {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header_menu {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  right: 0px;
  position: absolute;
  width: 232px;
  height: 764px;
  color: black;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
}

.menu_container {
  padding: 35px;
  position: relative;
}

.menu_container h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 25px;
}

.menu_container h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-bottom: 15px;
}

.menu_container a {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding-left: 25px;
  margin-bottom: 10px;
}

.menu_close_button {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 601px) {
  .header_for_mobile *:not(:first-child) {
    display: none;
  }
  .header_group {
    max-width: 32px;
  }
  .header_menu {
    width: 100%;
  }
}

.index .intro {
  background: #f1e4e6;
  height: 764px;
}

.index .intro .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .intro_image {
  width: 50%;
  height: 100%;
  background: url(images/promo-bg.png) no-repeat left;
  background-size: contain;
}

.index .intro_heading {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 38px;
  color: #222222;
  width: 380px;
}

.index .intro_heading_line {
  display: block;
  position: absolute;
  width: 12px;
  height: 92px;
  background: #f16d7f;
  left: -16px;
  top: -0.15em;
}

.index .intro_heading_little {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.index .intro_heading_pink {
  color: #f16d7f;
}

@media (min-width: 601px) and (max-width: 820px) {
  .index .intro {
    height: 367px;
  }
  .index .intro_image {
    background-position: center;
  }
  .index .intro_heading {
    width: 280px;
    font-size: 44px;
  }
  .index .intro_heading_little {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .index .intro {
    height: 367px;
  }
  .index .intro .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index .intro_image {
    width: 0%;
  }
  .index .intro_heading {
    padding-left: 20px;
    width: 240px;
    font-size: 38px;
  }
  .index .intro_heading_little {
    font-size: 20px;
  }
}

.index .offers {
  margin: 50px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index .offers .offer_element {
  color: white;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.index .offers .offer_element .pink {
  display: block;
  color: #f16d7f;
}

.index .small_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.index .small_elements .offer_element:not(:last-child) {
  margin-right: 30px;
}

.index .offer_element {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.index .offer_element:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.index .large_elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.index .large_elements .offer_element {
  margin: 0 auto;
}

.index .large_elements .offer_element:not(:last-child) {
  margin-bottom: 30px;
}

.index .bg_image {
  position: relative;
}

.index .bg_image img {
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.index .bg_image .bg_image_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.index .bg_image .bg_image_mask .offer_heading {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (min-width: 601px) and (max-width: 820px) {
  .index .small_elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .index .small_elements .offer_element:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .index .offer_element {
    width: 100%;
  }
  .index .small_elements {
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index .small_elements .offer_element {
    margin-bottom: 30px;
  }
  .index .large_elements {
    margin: 0 auto;
  }
  .index .large_elements img {
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
    height: 111px;
  }
}

.index .products {
  margin: 100px 0;
}

.index .products_heading {
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.index .products_underheading {
  margin: 6px 0 48px 0;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.index .products_elementHandler {
  display: -ms-grid;
  display: grid;
  gap: 30px 10px;
  -ms-grid-columns: (360px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 360px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.index .products_element {
  margin: 0 auto;
  background: #f8f8f8;
  max-width: 350px;
}

.index .product_image {
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  height: 420px;
  width: 100%;
}

.index .products_element_image {
  position: relative;
}

.index .products_element_image:hover .products_element_buttonHandler {
  opacity: 1;
}

.index .products_element_buttonHandler {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .products_element_button {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  padding: 12px;
  border: 1px solid white;
}

.index .product_text {
  padding: 20px;
  position: relative;
}

.index .product_name {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.index .product_description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding: 18px 0 38px 0;
}

@media (max-width: 600px) {
  .index .products_elementHandler {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px 0;
  }
}

.footer {
  background: #222224;
  margin-top: 95px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .feature {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 105px;
  padding-bottom: 90px;
}

.features .feature h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  margin-top: 30px;
  color: #fbfbfb;
}

.features .feature p {
  color: #cfcfcf;
  max-width: 85%;
  margin: 15px auto;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
}

.subscribe {
  background: url("images/bg_subscribe.jpg") no-repeat center;
  background-size: cover;
}

.subscribe .subscribe_box {
  min-height: 450px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe_box * {
  text-align: center;
}

.coryright_and_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social a {
  width: 32px;
  height: 32px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social a:hover {
  background-color: #f16d7f;
}

.social a:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.review {
  text-align: center;
  max-width: 360px;
}

.review p {
  margin-top: 30px;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe_forms {
  padding-top: 60px;
}

.subscribe_forms h3 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #222224;
}

.subscribe_forms p {
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  margin-bottom: 35px;
}

.subscribe_forms .subscribe_forms_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_forms .subscribe_forms_inputs input {
  padding: 5px 0 5px 20px;
  width: 246px;
  height: 40px;
  border-radius: 50px 0 0 50px;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #e1e1e1;
}

.subscribe_forms .subscribe_forms_inputs button {
  display: block;
  background: #e05c6e;
  color: white;
  font-size: 14px;
  padding: 17px 20px;
  border-radius: 0 50px 50px 0;
}

@media (max-width: 374px) {
  .subscribe_forms .subscribe_forms_inputs input {
    zoom: 0.7;
  }
  .subscribe_forms .subscribe_forms_inputs button {
    zoom: 0.7;
  }
}

.copyright {
  color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  font-size: 16px;
}

.social a:not(:first-child) {
  position: relative;
  margin-left: 7px;
}

@media (max-width: 820px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .feature {
    zoom: 1;
    padding-bottom: 0;
  }
  .features .feature:last-child {
    padding-bottom: 90px;
  }
  .subscribe_box {
    padding: 140px 0;
    zoom: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 820px) and (min-width: 601px) and (max-width: 820px) {
  .coryright_and_social {
    zoom: 1;
  }
}

@media (max-width: 820px) and (max-width: 600px) {
  .coryright_and_social {
    padding-top: 45px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    zoom: 0.7;
  }
}

.catalog .catalog_intro {
  background: #f1e4e6;
}

.catalog .catalog_intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.catalog .catalog_heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.catalog .secondary_navigation a {
  color: #636363;
}

.catalog .secondary_navigation a:not(:first-child)::before {
  color: #636363;
  padding: 0 5px;
  content: "/";
}

.catalog .secondary_navigation .active {
  color: #f16d7f;
}

.catalog .product_filters {
  margin: 0 0 65px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.catalog .product_filters .filters {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.catalog .product_filters .filters img {
  margin-left: 10px;
}

.catalog .popular_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .popular_filters .filters {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.catalog .filters {
  cursor: pointer;
}

.catalog .pagination {
  padding: 0.1em 20px;
  margin: 60px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 295px;
  height: 45px;
  border: 1px solid #ebebeb;
}

.catalog .pagination a img {
  padding-top: 5px;
}

.catalog .pagination .pages {
  min-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog .pagination .pages .active_page {
  color: #f16d7f;
}

.catalog .pagination .pages a:nth-last-child(2)::after {
  padding-left: 20px;
  content: ".....";
}

.catalog .pagination .pages a {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.catalog .products {
  margin-top: 50px;
}

.catalog .products_elementHandler {
  display: -ms-grid;
  display: grid;
  gap: 30px 10px;
  -ms-grid-columns: (360px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 360px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.catalog .products_element {
  margin: 0 auto;
  background: #f8f8f8;
  max-width: 350px;
}

.catalog .product_image {
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  height: 420px;
  width: 100%;
}

.catalog .products_element_image {
  position: relative;
}

.catalog .products_element_image:hover .products_element_buttonHandler {
  opacity: 1;
}

.catalog .products_element_buttonHandler {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog .products_element_button {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  padding: 12px;
  border: 1px solid white;
}

.catalog .product_text {
  padding: 20px;
  position: relative;
}

.catalog .product_name {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.catalog .product_description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding: 18px 0 38px 0;
}

.catalog .price {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #f16d7f;
}

.catalog .price::before {
  content: "$ ";
}

.catalog .filter_box {
  position: relative;
}

.catalog .filter_menu {
  position: absolute;
  left: -20px;
  top: -1em;
  z-index: 1;
  display: none;
  opacity: 0;
  width: 360px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: top;
          transform-origin: top;
  cursor: pointer;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px 20px;
}

.catalog #c_filter {
  display: none;
}

.catalog #c_filter:checked ~ .filter_box .filter_vector {
  fill: #ef5b70;
}

.catalog #c_filter:checked ~ .filter_box .filters {
  color: #ef5b70;
}

.catalog #c_filter:checked ~ .filter_box .filter_menu {
  display: block;
  opacity: 1;
}

.catalog .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog .popup .popup_summary {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  padding: 1em;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ef5b70;
}

.catalog .popup_elem {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-left: 20px;
}

.catalog .filters_for_mobile {
  display: none;
}

@media (max-width: 800px) {
  .catalog .product_filters {
    margin: 0 0 65px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .catalog .product_filters .filters {
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .catalog .product_filters .filters img {
    margin-left: 10px;
  }
  .catalog .filter_box .filters {
    display: none;
  }
  .catalog .filters_for_mobile {
    display: block;
  }
  .catalog .popular_filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .catalog .popular_filters .filters {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.product_page .catalog_intro {
  background: #f1e4e6;
}

.product_page .catalog_intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.product_page .catalog_heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.product_page .secondary_navigation a {
  color: #636363;
}

.product_page .secondary_navigation a:not(:first-child)::before {
  color: #636363;
  padding: 0 5px;
  content: "/";
}

.product_page .secondary_navigation .active {
  color: #f16d7f;
}

.product_page .product_filters {
  margin: 0 0 65px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.product_page .product_filters .filters {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.product_page .product_filters .filters img {
  margin-left: 10px;
}

.product_page .popular_filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_page .filters {
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1131px) {
  .product_page .also .products_elementHandler .products_element {
    display: none;
  }
  .product_page .also .products_elementHandler .products_element:nth-child(1) {
    display: block;
  }
  .product_page .also .products_elementHandler .products_element:nth-child(2) {
    display: block;
  }
}

.product_page .goods .products {
  margin-top: 665px;
}

.product_page .goodprew {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

.product_page .goodprew img {
  pointer-events: none;
  min-width: 1px;
}

.product_page .goodprew svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.product_page .goodprew .swipe_button {
  cursor: pointer;
  background: rgba(42, 42, 42, 0.15);
  padding: 13px 17px 13px 17px;
}

.product_page .goodprew .swipe_button:hover .svg_arrow {
  fill: #f16d7f;
}

.product_page .good_preview {
  position: relative;
  border: 1px solid #eaeaea;
}

.product_page .good_information {
  width: 71.3%;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  position: absolute;
  bottom: -550px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: 1px solid #eaeaea;
}

@media (max-width: 768px) {
  .product_page .good_information {
    width: 100%;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: white;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border: 1px solid #eaeaea;
  }
  .product_page .popular_filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product_page .popular_filters .filters {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}

.product_page .good_information_box {
  margin-top: 65px;
  font-weight: 300;
  width: 640px;
  height: 295px;
  text-align: center;
}

.product_page .good_information_box .good_heading {
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

.product_page .good_information_box .good_heading_underline {
  margin: 12px auto;
  width: 62px;
  border: none;
  border-bottom: 3px solid #f16d7f;
}

.product_page .good_information_box .good_name {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  margin-bottom: 50px;
}

.product_page .good_information_box .good_description {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 32px;
}

.product_page .good_information_box .good_price {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  margin-bottom: 65px;
}

.product_page .good_information_box .good_price::before {
  content: "$ ";
}

.product_page .good_information_box .good_price_underline {
  border: none;
  border-bottom: 1px solid #eaeaea;
}

.product_page .good_information_box .popular_filters {
  margin: 50px auto;
  max-width: 380px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product_page .good_information_box .popular_filters img {
  margin-left: 10px;
}

.product_page .good_information_box .popular_filters .filter_element:not(:last-child) {
  margin-right: 22px;
}

.product_page .good_information_box .products_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.product_page .good_information_box .products_button svg {
  margin-right: 22px;
}

.product_page .good_information_box .products_button:hover path {
  fill: white;
}

.product_page .products {
  margin: 100px 0;
}

.product_page .products_heading {
  padding: 0;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.product_page .products_underheading {
  margin: 6px 0 48px 0;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

.product_page .products_elementHandler {
  display: -ms-grid;
  display: grid;
  gap: 30px 10px;
  -ms-grid-columns: (360px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 360px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.product_page .products_element {
  margin: 0 auto;
  background: #f8f8f8;
  max-width: 350px;
}

.product_page .product_image {
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  height: 420px;
  width: 100%;
}

.product_page .products_element_image {
  position: relative;
}

.product_page .products_element_image:hover .products_element_buttonHandler {
  opacity: 1;
}

.product_page .products_element_buttonHandler {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(58, 56, 56, 0.86);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_page .products_element_button {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  padding: 12px;
  border: 1px solid white;
}

.product_page .product_text {
  padding: 20px;
  position: relative;
}

.product_page .product_name {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

.product_page .product_description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding: 18px 0 38px 0;
}

.product_page .price {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #f16d7f;
}

.product_page .price::before {
  content: "$ ";
}

.product_page #toggle_filter_color_menu {
  display: none;
}

.product_page #toggle_filter_size_menu {
  display: none;
}

.product_page #toggle_filter_size_menu:checked ~ .filter_size_menu {
  opacity: 1;
  display: flexbox;
}

.product_page #toggle_filter_color_menu:checked ~ .filter_color_menu {
  opacity: 1;
  display: flexbox;
}

.product_page #toggle_filter_color_menu:checked ~ .filter_color_menu {
  opacity: 1;
  display: flexbox;
}

.product_page #toggle_filter_quantity_menu {
  display: none;
}

.product_page #toggle_filter_quantity_menu:checked ~ .filter_quantity_menu {
  opacity: 1;
  display: flexbox;
}

.product_page .filter_color {
  position: relative;
}

.product_page .filter_menu {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  min-height: 100px;
  background: white;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 1;
  padding: 5px;
}

.product_page .filter_menu label {
  margin-left: 30%;
}

.cart_page button:not(#subscribe_btn) {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cart_page button:not(#subscribe_btn):hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.cart_page .intro {
  background: #f8f3f4;
}

.cart_page .intro .container {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_page #page_heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.cart_page main {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_page .goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 650px;
  margin-right: 10px;
}

.cart_page .good_image {
  height: 100%;
  margin-right: 32px;
}

.cart_page .good {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  background: white;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  margin-bottom: 40px;
}

.cart_page .good_descr {
  padding: 25px 0 0 0;
}

.cart_page .good_descr p {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 0.4em;
}

.cart_page .good_price_value {
  padding-left: 5px;
  color: #ef5b70;
}

.cart_page .good_price_value::before {
  content: "$";
}

.cart_page .good_color_value {
  padding-left: 5px;
}

.cart_page .good_size_value {
  padding-left: 5px;
}

.cart_page .good_quantity_value {
  margin-left: 30px;
  padding: 0 1em;
  border: 1px solid #eaeaea;
}

.cart_page .good_name {
  max-width: 196px;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.cart_page .delete_good {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.cart_page .delete_good:hover svg path {
  fill: #f16d7f;
}

.cart_page .control_elements {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_page .control_elements button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #a4a4a4;
  padding: 1em 2em;
}

.cart_page .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_page .contacts_inputsHandler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 360px;
  margin-bottom: 60px;
}

.cart_page .contacts_inputsHandler *:not(:last-child) {
  margin-bottom: 20px;
}

.cart_page .contacts_heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart_page .contacts_input {
  width: 95%;
  height: 15px;
  padding: 15px 0 15px 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.cart_page .contacts_input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.cart_page .contacts_input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.cart_page .contacts_input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.cart_page .contacts_input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.cart_page .contacts_button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 1em 2em;
}

.cart_page .total_box {
  width: 100%;
}

.cart_page .total {
  padding: 39px 35px 40px 35px;
  background: #f5f3f3;
  text-align: right;
}

.cart_page .total hr {
  margin: 18px 0;
  opacity: 0.3;
}

.cart_page .sub_total {
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  margin-bottom: 12px;
}

.cart_page .sub_price {
  margin-left: 25px;
}

.cart_page .sub_price::before {
  content: "$";
}

.cart_page .grand_price {
  margin-left: 25px;
  font-weight: bold;
  color: #f16d7f;
}

.cart_page .grand_price::before {
  content: "$";
}

.cart_page .grand_total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.cart_page .buy {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #f16d7f;
  width: 90%;
  padding: 0 10px;
  height: 50px;
}

@media (min-width: 602px) and (max-width: 925px) {
  .cart_page main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart_page .goods {
    width: inherit;
  }
  .cart_page .control_elements {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cart_page .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 64px;
  }
  .cart_page .contacts_inputsHandler {
    width: 46%;
  }
  .cart_page .total_box {
    width: 46%;
    margin-top: 2.3em;
  }
}

@media (max-width: 601px) {
  .cart_page main {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart_page .goods {
    width: inherit;
  }
  .cart_page .control_elements {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cart_page .control_elements * {
    zoom: 0.7;
  }
  .cart_page .total_box {
    height: 215px;
  }
  .cart_page .good {
    zoom: 0.55;
  }
  .cart_page .goods {
    margin-bottom: 50px;
  }
  .cart_page .contacts {
    margin: 0 auto;
  }
  .cart_page .contacts_inputsHandler {
    width: 100%;
  }
}

.account_page button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.account_page svg {
  -webkit-transition: 2s;
  transition: 2s;
}

.account_page .intro {
  background: #f8f3f4;
}

.account_page .intro .container {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account_page .account_heading {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.account_page .page_box {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account_page .reg_form {
  margin-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.account_page .reg_form input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: black;
  padding: 12px 20px;
  margin-bottom: 15px;
}

.account_page .gender {
  margin: 0 15px;
}

.account_page .gender_radio {
  -webkit-transform: translate(10%, 10%) scale(1.3);
          transform: translate(10%, 10%) scale(1.3);
}

.account_page .genders {
  margin: 30px 0;
  font-size: 12px;
  line-height: 13px;
}

.account_page .reg_name {
  margin-bottom: 20px;
}

.account_page .reg_btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 1em 2em;
  background: #f16d7f;
}

.account_page .reg_btn svg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 20px;
}

.account_page .reg_btn:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.account_page .reg_details {
  margin-bottom: 20px;
}

.account_page .reg_advice {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  margin-bottom: 40px;
}

.account_page .reg_info {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.account_page .reg_info h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 35px 0;
}

.account_page .reg_info p {
  margin-bottom: 30px;
}

.account_page .list {
  margin-left: 28px;
}

.account_page .list_elem {
  margin-bottom: 15px;
  list-style-image: url(images/V.svg);
}

@media (max-width: 600px) {
  .account_page .page_box {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .account_page .reg_form {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: 600px) and (max-width: 1025px) {
  .account_page .reg_form {
    margin-right: 22px;
  }
}
/*# sourceMappingURL=style.css.map */